<%= link_to 'users', users_path %> | 
<%= link_to 'buoys', buoys_path %> | 
<%= link_to 'sessions', wave_sessions_path %> 
<br />
Count: <%= @users.count %>
<br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Waves</th>
      <th>Sessions</th>
      <th>First Signed In</th>
      <th>Last Signed In</th>
      <th>Sign In Count</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.waves.count %></td>
        <td><%= user.sessions.where(finalized: true).count %></td>
        <td><%= user.created_at.strftime('%d-%m-%Y') %><td>
        <td><%= user.last_sign_in_at.strftime('%d-%m-%Y') %><td>
        <td><%= user.sign_in_count %><td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
