<h1>Listing buoys</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buoys.each do |buoy| %>
      <tr>
        <td><%= buoy.station_id %></td>
        <td><%= buoy.title %></td>
        <td><%= link_to 'Show', buoy %></td>
        <td><%= link_to 'Edit', edit_buoy_path(buoy) %></td>
        <td><%= link_to 'Destroy', buoy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buoy', new_buoy_path %>
