<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_buoy_path(@buoy) %> |
<%= link_to 'Back', buoys_path %>

<h3> Current Observation </h3>
<table>
  <thead>
    <tr>
      <th>timestamp</th>
      <th>wave_height</th>
      <th>swell_height</th>
      <th>swell_period</th>
      <th>wind_wave_height</th>
      <th>wind_wave_period</th>
      <th>swell_direction</th>
      <th>steepness</th>
      <th>average_wave_period</th>
      <th>mean_wave_direction</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @buoy.current_observation.timestamp %></td>
        <td><%= @buoy.current_observation.wave_height %></td>
        <td><%= @buoy.current_observation.swell_height %></td>
        <td><%= @buoy.current_observation.swell_period %></td>
        <td><%= @buoy.current_observation.wind_wave_height %></td>
        <td><%= @buoy.current_observation.wind_wave_period %></td>
        <td><%= @buoy.current_observation.swell_direction %></td>
        <td><%= @buoy.current_observation.steepness %></td>
        <td><%= @buoy.current_observation.average_wave_period %></td>
        <td><%= @buoy.current_observation.mean_wave_direction %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'all observations', buoy_observations_path(@buoy) %>
